@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

footer {
    height: 600px;
    background-color: black;
}

header img {
    vertical-align: middle;
}

header a {
    text-decoration: none;
    padding: 0 20px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 95%;
    max-width: 1600px;
    min-width: 800px;
    margin: 0 auto;
}

.large-container {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    min-width: 1180px;
}

.small-container {
    width: 75%;
    padding-top: 140px;
    margin: 0 auto;
}

.navbar {
    margin-left: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.btn {
    padding: 8px 20px;   
    text-decoration: none;
}

.btn-blue {
    background-color: #0160ff;
    color: white;
    padding: 8px 20px;   
    text-decoration: none;
}

.btn-transparent {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 8px 20px;   
    text-decoration: none;
}

section#jumbotron {
    background-color: #b3d0e7;
    height: 730px;
}

section#jumbotron .jumbo-content {
    margin-top: 45px;
}

section#jumbotron h1 {
    font-size: 4.2rem;
    font-weight: 700;
}

section#jumbotron .text-wrapper {
    width: 32.2%;
}

section#jumbotron p {
    margin-bottom: 30px;
}

section#jumbotron p.small {
    font-size: .9rem;
}

section#jumbotron .btn {
    margin-bottom: 10px;
    display: inline-block;
}

section#jumbotron i {
    padding-top: 15px;
    font-size: 45px;
}

section#jumbotron .jumbo-img {
    width: 67.8%;
}

section#jumbotron img {
    width: 900px;
    padding-left: 30px;
    position: absolute;
}

section#business .title {
    font-size: 2.5rem;
}

section#business div.input-radio {
    padding-top: 55px;
    margin-right: 20px;
}

section#business label {
    padding-right: 20px;
}

div.card {
    width: 32%;
    border: 1px solid lightgrey;
    padding: 20px 30px;
    height: 40rem;
}

section#business ul {
    list-style: none;
    display: grid;
    gap: 20px;
    padding: 45px 0 ;
}

section#business .button {
    padding: 10px 0;
    width: 100%
}

section#business .btn {
    padding: 8px 43px;
}

section#business p.buy {
    padding-top: 25px;
}

div.plans {
    margin-top: 35px;
}

.card-header {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.middle-card {
    margin: 0 21px;
}

.card-body {
    padding-top: 20px;
}

div.last-card {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

section#partner {
    width: 100%;
}

.partner-img img{
    width: 100%;
}

.partner-img {
    width: 55%;
}

.partner-text {
    padding-top: 30px;
    width: 40%;
}

.partner-text p {
    margin: 30px 0 40px;
}

section#center {
    height: 500px;
}


